{% extends "website/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'website/team-standing.css' %}" />
{% endblock %}
{% block title %}{{team.display_name}}{% endblock %}

{% block content %}
<h1>{{team.name}}</h1>
<div class="row">
    <div class="col-2">
        <div class="stats-card">
            <h5 class="text-center">PL Rank</h5>
            <h3 class="text-center">{{stat.rank}}</h3>
        </div>
    </div>
    <div class="col-2">
        <div class="stats-card">
            <h5 class="text-center">Won</h5>
            <h3 class="text-center">{{stat.won}}</h3>
        </div>
    </div>
    <div class="col-2">
        <div class="stats-card">
            <h5 class="text-center">Draw</h5>
            <h3 class="text-center">{{stat.draw}}</h3>
        </div>
    </div>
    <div class="col-2">
        <div class="stats-card">
            <h5 class="text-center">Lost</h5>
            <h3 class="text-center">{{stat.lost}}</h3>
        </div>
    </div>
    <div class="col-2">
        <div class="stats-card">
            <h5 class="text-center">Points</h5>
            <h3 class="text-center">{{stat.point}}</h3>
        </div>
    </div>
    <div class="col-2">
        <div class="stats-card">
            <h5 class="text-center">Played</h5>
            <h3 class="text-center">{{stat.played}}</h3>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Number</td>
                <td>Name</td>
                <td>Nationality</td>
                <td>Position</td>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>
                    {% if player.number is None %}
                    #
                    {% else %}
                    {{player.number}}
                    {% endif %}
                </td>
                <td>{{player.name}}</td>
                <td>{{player.nationality}}</td>
                <td>
                    {% if player.position is None %}
                    {{player.role}}
                    {% else %}
                    {{player.position}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
