{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/bootstrap-datepicker3.standalone.min.css' %}" />
    <title>Project Violet</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Project Violet
                <span class="badge badge-success">Beta</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="{% url 'recommendation:index' %}" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Recommendation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Matches recommendation</a>
                            <a class="dropdown-item" href="#">User preferences table</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main-content" class="container">
        <div class="row">
            <p>There are {{teams_count}} teams</p>
            <table class="table table-hover table-bordered">
                <thead>
                    <td>Position</td>
                    <td>Team name</td>
                    <td>Played</td>
                    <td>Won</td>
                    <td>Drawn</td>
                    <td>Lost</td>
                    <td>GF</td>
                    <td>GA</td>
                    <td>GD</td>
                    <td><strong>Point</strong></td>
                </thead>
                <tbody>
                    {% for row in league_table %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{row.team_name}}</td>
                        <td>{{row.played}}</td>
                        <td>{{row.won}}</td>
                        <td>{{row.drawn}}</td>
                        <td>{{row.lost}}</td>
                        <td>{{row.goal_for}}</td>
                        <td>{{row.goal_against}}</td>
                        <td>{{row.goal_difference}}</td>
                        <td><strong>{{row.point}}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'scorebasedrecommend/bootstrap.min.js' %}"></script>
</body>

</html>