{% extends "cosinesimulation/base.html" %}

{% load static %}

{% block content %}
<div id="formContainer" class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Cosine Similarity Simulation</h3>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="userSelect">เลือกผู้ใช้งาน</label>
                            <select class="form-control" id="userSelect" v-model="selectedUser">
                                <option disabled value="">เลือกผู้ใช้งาน</option>
                                <option v-for="(user, key) in users" :key="key">[[ user ]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="untilMatch">เลือกข้อมูลที่ใช้สร้าง User Profile จนถึงการแข่งขันที่</label>
                            <select class="form-control" id="untilMatch" multiple v-model="selectedUntils">
                                <option disabled value="">เลือกตำแมชสุดท้ายที่ดู</option>
                                <option v-for="(value, index) in untilOptions" :key="value.id" :value="value.id">No.[[ index
                                    + 1 ]] [[ value.text ]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>เลือก attribute ที่นำไปคำนวน Cosine Similarity</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useLeague" v-model="attributeOptions.useLeague">
                            <label class="form-check-label" for="useLeague">ลีก</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useTeam" disabled checked>
                            <label class="form-check-label" for="useTeam">ทีม</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="usePlayer" v-model="attributeOptions.usePlayer">
                            <label class="form-check-label" for="usePlayer">ผู้เล่น</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="useTime" v-model="attributeOptions.useTime">
                            <label class="form-check-label" for="useTime">เวลาการแข่งขัน</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check">
                        <input @change="showLine" class="form-check-input" type="checkbox" id="showLine" checked>
                        <label class="form-check-label" for="ShowLine">
                            Show line in Graph
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <p>ชื่อผู้ใช้งาน [[selectedUser ]], การแข่งขันที่ถูกเลือก [[ selectedUntils ]]</p>
                </div>
                <button type="button" class="btn btn-primary" @click.prevent="simulate">Simulate</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <canvas id="canvas"></canvas>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Home team</th>
                  <th scope="col">Away team</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>
                  <tr v-for="(match, index) of matches_data" :key="match.id">
                    <td scope="row">[[ index + 1 ]]</td>
                    <td>[[ match.home ]]</td>
                    <td>[[ match.away ]]</td>
                    <td>[[ match.time ]]</td>
                  </tr>
              </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- Vue.js -->
<script src="{% static 'cosinesimulation/vue.js' %}"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- bootstrap -->
<script src="{% static 'cosinesimulation/bootstrap-datepicker.min.js' %}"></script>

<!-- chart.js -->
<script src="{% static 'cosinesimulation/Chart.min.js' %}"></script>

<script>
    const simulationDataUrl = 'simulation_data/';
    const caseOneFav = range(38, 2);
    const caseTwoFav = range(74, 2);
    let context;
    let chart;

    window.addEventListener('load', function () {
        axios.get(simulationDataUrl)
            .then(response => setupVue(response.data))
            .catch(error => console.log(error));
    }, false);

    function setupVue(data) {
        let u1Data = data.u1;
        let u11Data = data.u11;

        context = new Vue({
            delimiters: ['[[', ']]'],
            el: '#formContainer',
            data: {
                users: ['u1', 'u11'],
                selectedUser: '',
                selectedUntils: [],
                matches_data: [],
                attributeOptions: {
                    useLeague: false,
                    usePlayer: true,
                    useTime: false,
                }
            },
            computed: {
                untilOptions: function () {
                    if (this.selectedUser === 'u1') {
                        return u1Data;
                    } else if (this.selectedUser === 'u11') {
                        return u11Data;
                    }
                }
            },
            methods: {
                simulate: simulate,
                showLine: showLine
            }
        });
    }

    function simulate() {
        axios.get('simulate/', {
            params: {
                userId: this.selectedUser,
                untilMatches: this.selectedUntils,
                useLeague: this.attributeOptions.useLeague,
                usePlayer: this.attributeOptions.usePlayer,
                useTime: this.attributeOptions.useTime
            },
            paramsSerializer: transformRequestOptions
        })
            .then(response => {
                if (!chart) {
                    createChart(response.data);
                    context.matches_data = response.data.matches_data
                } else {
                    updateChart(response.data);
                }
            })
            .catch(error => console.log(error));
    }

    function transformRequestOptions(params) {
        let options = '';
        for (const key in params) {
            if (typeof params[key] !== 'object') {
                options += `${key}=${params[key]}&`;
            } else if (typeof params[key] === 'object' && params[key].length) {
                params[key].forEach(el => {
                    options += `${key}=${el}&`;
                });
            }
        }
        return options ? options.slice(0, -1) : options;
    }

    function createChart(data) {
        let configs = {
            type: 'line',
            data: {
                labels: data.labels,
                datasets: data.datasets
            },
            options: {
                title: {
                    display: true,
                    fontSize: 16,
                    text: data.title
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'nth match'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Cosine Similarity Value'
                        }
                    }]
                }
            }
        };

        let ctx = document.getElementById('canvas').getContext('2d');
        chart = new Chart(ctx, configs);
    }

    function updateChart(data) {
        chart.data.labels = data.labels;
        chart.data.datasets = data.datasets;
        chart.options.title.text = data.title;
        chart.update();
    }

    function showLine(event) {
        if (!chart) {
            return;
        }

        if (event.target.checked) {
            chart.options.showLines = true;
        } else {
            chart.options.showLines = false;
        }

        chart.update();
    }

    function range(size, startAt = 0) {
        return [...Array(size).keys()].map(i => i + startAt);

    }

</script>

{% endblock %}
