{% extends "recommendation/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <h2>View recommended matches</h2>
        <form action="{% url 'recommendation:getrecommend' %}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-3">
                    {% csrf_token %}
                    <label for="user_id">User</label>
                    <select id="user_id" class="form-control" name="user_id">
                        <option value="u1">u1</option>
                        <option value="u2">u2</option>
                        <!-- <option value="u3">u3</option>
                            <option value="u4">u4</option>
                            <option value="u5">u5</option>
                            <option value="u6">u6</option> -->
                        <option value="u7">u7</option>
                        <!-- <option value="u8">u8</option>
                            <option value="u9">u9</option>
                            <option value="u10">u10</option> -->
                        <option value="u11">u11</option>
                        <option value="u12">u12</option>
                    </select>
                    <a href="{% url 'recommendation:preference_table' %}">User preferences table</a>
                </div>
                <div class="form-group col-md-3">
                    <label for="untilDate">ใช้ข้อมูลถึงวันที่</label>
                    <input type="text" id="untilDate" class="form-control" name="until" data-provide="datepicker" data-date-format="yyyy:mm:dd"
                        placeholder="default - 2018:01:01">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Go</button>
        </form>
    </div>
</div>
{% endblock %}